.login-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #27f8ff, #da5248);
  padding: 20px;
}
.login-top{
  margin-bottom: 20px;
  justify-content: space-between;

}

.login-card {
  width: 100%;
  max-width: 380px;
  padding: 35px;
  border-radius: 18px;
  background: #BDD4FF;
  backdrop-filter: blur(15px);
  box-shadow: 0 5px 15px  rgba(0, 0, 0, 0.4);
  color: #111010;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 18px;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.95);
  color: #333;
}

.input-group input::placeholder {
  color: #777;
}

.password-wrapper .toggle {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button {
  text-align: center;
  padding: 12px 24px;
  border-radius: 25px;
  background: linear-gradient(90deg, #dfeef1, #dce0e4);
  color: #020202;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
}

.error {
  font-size: 12px;
  margin-top: 5px;
  color: #ff6b6b;
}
.switch-login {
  text-align: center;
  margin-bottom: 20px;
}

.switch-btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 14px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background-color: #4a90e2;
  border-radius: 20px;
  transition: 0.3s ease;
}

.switch-btn:hover {
  background-color: #357abd;
  transform: scale(1.05);
}
.switch-container {
  position: relative;
  width: 120px;
  height: 40px;
  background: #e0e0e0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 0 auto 20px auto;
}

.switch-option {
  width: 50%;
  text-align: center;
  z-index: 2;
  font-size: 18px;
  color: #555;
}

.slider {
  position: absolute;
  width: 50%;
  height: 30px;
  background: #4a90e2;
  border-radius: 20px;
  transition: 0.3s ease;
  z-index: 1;
}

.slider.left {
  left: 5px;
}

.slider.right {
  left: 55px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .login-card {
    padding: 25px;
    border-radius: 14px;
  }

  .login-card h2 {
    font-size: 20px;
  }

  .input-group input {
    font-size: 13px;
    padding: 10px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}